<%
meta title: "Crowns over Cotton|Long Live Colorful Girls!",
     description: "Crowns over Cotton is a digital platform where women of color are celebrated and encouraged to embrace everything that makes them beautifully colorful girls.",
     keywords: %w(Crowns Over Cotton)
%>
<div class= "container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
<h1>Edit article</h1>



 
<%= render 'form' %>
<%= link_to 'Back', articles_path %>
 

</div>
</div>
</div>
</div>