// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h1{ 
   color: #34495e; 
   font: bold 25px/45px Pacifico, Sans-Serif; 
   letter-spacing: 0px;  
   
   
   padding: 15px; 
}






h1_1 { 
   position: absolute; 
   top: 30px; 
   text-align: center;
   font: bold 120px/250px Pacifico, Sans-Serif;
   width: 100%;
   color: #f1c40f; 
}

h3 { 
  

   text-align: center; 
   
   
 
}

.style_image {
  border: 1px solid #95a5a6;
}

p {
    font-family: Playfair Display, Sans-Serif;
     font-size: 21px;
    

     

} 

p_1 {
   font-family: Pacifico, Sans-Serif;
   font-size: 15px;

}

p_2{

   font-family: Playfair Display, Sans-Serif;
     font-size: 21px;
    text-align: center;
}

