html, body {
  width: auto ;
  overflow-x: hidden ;
}

.image{
  position: relative;
}

h1_1 {
position: absolute;
top: 60px;
text-align: center;
font: bold 150px/150px Pacifico, Sans-Serif;
width: 1500px;
color: #2c3e50;

}
.kristin{

  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: url(IMG_0187.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  margin-left:540px;
  background-size: cover;
}

h1 {
color: #34495e;
font: bold 45px/45px Pacifico, Sans-Serif;
letter-spacing: 0px;
padding: 15px;
 
}



h1_2{
    position: absolute;
top: 5900px;
text-align: center;
font: bold 100px/100px Pacifico, Sans-Serif;
width: 1500px;
color: white;
}

h1_3{
    position: absolute;
top: 6200px;
text-align: center;
font: bold 31px/31px Pacifico, Sans-Serif;
width: 1500px;
color: #f1c40f;
}
.email{
      position: absolute;
top: 6300px;
margin-left: 525px;

}
.ebutton{
position: absolute;
 margin-left: 310px; 
 top: 0px;
 z-index: 10;
 }


.social{
    position: absolute;
  margin-left: 300px; 
 top: 5100px;
}

.sharing{
  float: left;
}


.mystyle input[type="text"] {
   height: 50px;
   font-size: 25px;
   line-height: 50px;
   width:360px;
  
}


.work{
	position: absolute;
	 height:2070px;
    line-height:200px;
    border-left:1px outset #7f8c8d;
    margin-left: 0px;
}

.frame{
	position: absolute;
	 height:2052px;
    line-height:200px;
    border-right:1px inset #7f8c8d;
    margin-left: 1226px;
    top: 3125px;
}

.cop {
    
    margin-top: 18px;
    position: relative;
    
}

.cop:before {
    border-top: 2px solid #1abc9c;
    content:"";
    margin: 0 auto; /* this centers the line to the full width specified */
    position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 2130px; left: 0; right: 0; bottom: 0;
    width: 100%;
    z-index: -1;
}

.press{
	  margin-left: 10px;
}


h3 {
text-align: center;
 
}


.style_image{
border: 1px solid #95a5a6;
float: center;


}

.style_image_3 {
border: 1px solid #95a5a6;
float: right;

}

.style_image_2 {
float: left;
}

p {
font-family: Playfair Display, Sans-Serif;
font-size: 17px;
}

p_1 {
font-family: Pacifico, Sans-Serif;
font-size: 20px;
}

p_2 {
font-family: Playfair Display, Sans-Serif;
font-size: 17px;
float: left;
text-align: center;
padding-right: 50px;
}

p_3 {
font-family: Pacifico, Sans-Serif;
font-size: 42px;

}

p_4 {
font-size: 19px;
}


#nav.affix {
position: fixed;
top: 0;
width: 100%
}

.show {
text-align: center;
padding-right: 200px;
font-size: 75px;
}

.title {
text-align: center;
padding-right: 500px;
}


.extra {
	padding-left: 30px;
}
.pages {
float: right;
}

.social-buttons{
	float: right;
}

.line{
	margin-right: -200px;

}
.thumb{
	float: right;
	border-left: 100px;

}

.borders {
background-image: border-left;
}