@media only screen and (max-width: 650px) {
                    h1_1 {position: absolute;
top: 15px;
text-align: center;
font: bold 45px/45px Rock Salt, Sans-Serif;
width: 100%;
 height: 100%;
color:  #f1c40f;
        }


p_5{
 position: absolute;
top: 90%;
text-align: center;
font: bold 10px/10px Rock Salt, Sans-Serif;
width: 100%;
 height: 100%;
color: red;
margin-left: 30%; 
}
     }

     @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */h1_1 {position: absolute;
top: 15px;
text-align: center;
font: bold 45px/45px Rock Salt, Sans-Serif;
width: 100%;
 height: 100%;
color:  #f1c40f;
        }
}

