


@media only screen and (max-width: 524px) 
 {
	  h1_1{
	font: bold 40px/40px Rock Salt, Sans-Serif;
}

  




.image{
 
    height: 200%;
  
   
}

.mobilelogo{
  width: 600px;
  margin-left: -165px;
}

.mobilegogo{
  width: 600px;
  margin-left: -140px;
}
	p_5{
font: bold 13px/13px Rock Salt, Sans-Serif;
margin-left: -18%; 
}

p_7{
font: bold 13px/13px Rock Salt, Sans-Serif;
margin-left: 4%; 
}
p_8{
font: bold 13px/13px Rock Salt, Sans-Serif;
margin-left: 28%; 
}

h1_2{
   font: bold 36px/36px Rock Salt, Sans-Serif;
 }

 h1_3{
font: bold 15px/15px Rock Salt, Sans-Serif
}

.email{
      
      margin-left: 6%;

}

p_3 {
font-family: Rock Salt, Sans-Serif;
font-size: 280%;

position: absolute;
 z-index:100;
margin-left: 5%; 
  
 font-weight:bold;

}

p_10{
  font-family: Rock Salt, Sans-Serif;
font-size: 70%;

position: absolute;
 z-index:100;
margin-left: 11%; 

 font-weight:bold;
top:200px;
}



.mystyle input[type="text"] {
 height: 51px;
   font-size: 9px;
   line-height: 50px;
   width:100%;
  
}

.rejust{
  margin-left: 2%;

}

.ebutton{

 margin-left: 54%; 
 
 top: 10px;
 z-index: 7;
 
 }

.btn {
    
    padding: 4.5px 0px;
    font-size: 17px;
    line-height: normal;
  
            border-radius: 0px;
    }

   h1_6
   {
font: bold 25px/25px Rock Salt, Sans-Serif;
 }

 h1_5
 {font: bold 20px/20px Rock Salt, Sans-Serif;
 }

}


@media only screen and (min-width: 525px) 
and (max-width : 768px)  
 {
	  h1_1{
	font: bold 65px/65px Rock Salt, Sans-Serif;
	
}

h1_2{
   font: bold 36px/36px Rock Salt, Sans-Serif;
 }
	p_5{
font: bold 17px/17px Rock Salt, Sans-Serif;
margin-left: 24%; 
}
  h1_6{
   font: bold 24px/24px Rock Salt, Sans-Serif;
 }

 h1_5{
   font: bold 25px/25px Rock Salt, Sans-Serif;
 }
h1_3{
font: bold 15px/15px Rock Salt, Sans-Serif
}

p_3 {
font-family: Rock Salt, Sans-Serif;
font-size: 440%;

position: absolute;
 z-index:100;
margin-left: 10%; 
  
 font-weight:bold;

}

  p_5{
font: bold 20px/20px Rock Salt, Sans-Serif;
margin-left: -2%; 
}

p_7{
font: bold 20px/20px Rock Salt, Sans-Serif;
margin-left: 17%; 
}
p_8{
font: bold 20px/20px Rock Salt, Sans-Serif;
margin-left: 38%; 
}

p_10{
  font-family: Rock Salt, Sans-Serif;
font-size: 90%;

position: absolute;
 z-index:100;
margin-left: 31%; 

 font-weight:bold;
top:360px;
}



.email{
      
      margin-left: 21%;

}
.rejust{
  margin-left: 20%;
}
.mystyle input[type="text"] {
 height:60px;
   font-size: 15px;
   line-height: 50px;
   width:100%;
  
}

.ebutton{

 margin-left: 45%; 
 
 top: 10px;
 z-index: 7;
 
 }

.btn {
    
    padding: 4.5px 0px;
    font-size: 20.5px;
    line-height: normal;
  
            border-radius: 0px;
  
}
}





@media only screen and (min-width: 769px) 
and (max-width : 1260px)   
 {
	  h1_1{
	font: bold 105px/105px Rock Salt, Sans-Serif;
	color: white;
}

p_3 {
font-family: Rock Salt, Sans-Serif;
font-size: 415%;

position: absolute;
 z-index:100;
margin-left: 5%; 
  opacity: 0.5;
 font-weight:bold;

}

p_10{
  font-family: Rock Salt, Sans-Serif;
font-size: 100%;

position: absolute;
 z-index:100;
margin-left: 40%; 

 font-weight:bold;
top:475px;
}



	p_5{
font: bold 20px/20px Rock Salt, Sans-Serif;
margin-left: 18%; 
}

  p_7{
font: bold 20px/20px Rock Salt, Sans-Serif;
margin-left: 23%; 
}

  p_8{
font: bold 20px/20px Rock Salt, Sans-Serif;
margin-left: 34%; 
}
}
