@media only screen and (max-width: 650px) {
	  h1_1{
	font: bold 40px/40px Rock Salt, Sans-Serif;
}

        p_3 {
font-size: 32px;
}

	p_5{
font: bold 13px/13px Rock Salt, Sans-Serif;
margin-left: 18%; 
}

h1_2{
   font: bold 40px/40px Rock Salt, Sans-Serif;
 }

 h1_3{
font: bold 15px/15px Rock Salt, Sans-Serif
}

.email{
      
      margin-left: 6%;

}

.mystyle input[type="text"] {
 height: 52px;
   font-size: 9px;
   line-height: 50px;
   width:100%;
  
}

.ebutton{

 margin-left: 100%; 
 
 top: 0px;
 z-index: 10;
 
 }

.btn {
    
    padding: 4.5px 0px;
    font-size: 17px;
    line-height: normal;
  
            border-radius: 0px;
  
}






      }





